@import url('css-reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: "Open Sans", Arial, sans-serif;
}

nav {
  border-top: 10px solid #F5F5F5;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.nav-flex {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 2px;
}

.nav-flex li {
  padding: 0 1%;
}

.nav-flex a {
  color: black;
}

.nav-flex a:hover {
  text-decoration: underline;
}

.top-header {
  background-image: url("images/front.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 3%;
}

.top-header h1, h2 {
  color: white;
  font-weight: lighter;
}

.top-header h1 {
  font-size: 70px;
  margin-top: 1%;
}

.top-header h2 {
  font-size: 36px;
}

.tickets {
  padding-top: 57.2px;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px #efefef solid;
  padding-bottom: 3%;
}

section h3 {
  font-size: 32px;
  font-weight: lighter;
  font-size: 48px;
  color: #444;
  margin-bottom: 2%;
}

.tickets p {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.tickets a {
  background-color: #008000;
  padding: 1% 3%;
  display: inline-block;
  color: white;
  margin-top: .5%;
  font-weight: bold;
}

.speakers {
  padding-top: 57.2px;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px #efefef solid;
  padding-bottom: 10%;
}

.speakers-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  width: 60%;
  margin: 0 auto;
}

.speakers-grid li {
  border: 1px #efefef solid;
  padding-bottom: 60px;
  position: relative;
}

.hover-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  color: white;
  opacity: 0;
  transition: all .5s;
}

.hover-div:hover {
  opacity: 1;
}

.speakers-grid a {
  color: #008000;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
  display: inline-block;
}

.speakers-grid img {
  display: block;
  width: 100%;
}

.flex-li {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 2%;
  justify-content: space-between;
  border-bottom: 1px #efefef solid;
}

.schedule ul {
  margin: 0 auto;
  width: 55%;
}

.schedule {
  text-align: center;
}

.flex-section {
  flex: 2;
  text-align: left;
  margin-left: 1.5%;
}

.flex-section a {
  color: #008000;
  font-size: 18px;
  font-weight: bold;
}

.flex-section a:hover {
  text-decoration: underline;
}

.flex-li img {
  display: block;
  width: 130px;
}

.flex-li:first-child {
  border-top: 1px #efefef solid;
}

.flex-section code {
  background-color: #eeeeee;
  border: .5px solid gray;
  font-size: 8px;
}

@media (max-width: 943px) {
  .speakers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .flex-li > *:nth-child(1) {
    order: 3;
  }

  .flex-li > *:nth-child(3) {
    order: -1;
  }

  .flex-li img {
    width: 80px;
  }

  .schedule ul {
    width: 80%;
  }

  .speakers-grid {
    height: min-content;
  }

  .schedule {
    margin-top: 170px;
  }
}

@media (max-width: 589px) {
  .speakers-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  nav {
    display: none;
  }

  .schedule ul {
    width: 90%;
  }

  .schedule {
    margin-top: 1100px;
  }
}